<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="#">SafeRide254</a>-->
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><b>name of sacco</b></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_admin.username %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Feedback</a></li>
            <li><%= link_to('Logout', destroy_admin_session_path, :method => :delete) %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div>
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#">Set current fare</a></li>
                <li role="presentation"><a href="#">Edit existing fare</a></li>
                <li role="presentation"><a href="#">Add new route</a></li>
                 <li role="presentation"><a href="#">Sign out</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
            <div class="panel panel-default">
                <div class="panel-body" align = "left">
                    <select name="routes" class="form-control" title="**Select route**">
                        <option value="black">Black</option>
                        <option value="blue">Blue</option>
                        <option value="green">Green</option>
                        <option value="orange">Orange</option>
                        <option value="red">Red</option>
                        <option value="yellow">Yellow</option>
                        <option value="white">White</option>
                    </select><br/>
                    <input type="text" class="form-control" placeholder="From"><br/>
                    <input type="text" class="form-control" placeholder="Destination"><br/>
                    <div class="input-group bootstrap-timepicker timepicker">
                        <input id="timepicker" type="text" class="form-control input-small" placeholder="pick start time">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    </div><br/>
                    <div class="input-group bootstrap-timepicker timepicker">
                        <input id="timepicker2" type="text" class="form-control input-small" placeholder="pick end time">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    </div><br/>

                    <script type="text/javascript">
                        $(function() {
                        $('#timepicker').timepicker();
                        $('#timepicker2').timepicker();
                      });
                    </script>
                    <input type="text" class="form-control" placeholder="Enter amount as fare"><br/>
                    <div class="actions">
                            <button type="submit" class="btn btn-success btn-lg btn-block">save</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
